<!DOCTYPE html>
<!-- tutorial for flexy web design=https://www.youtube.com/watch?v=Rf_DjL_dbug&t=163s -->
<html>
<head>
{% include "main.html" %}
{% block content %}
</head>

<body>
<div class='wrapper'>
	{% include "header.html" %}
	<div class="row">
		<div class="col-12">
			<!-- need to style this -->
			<!-- <div class="flash">
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						<ul>
				        {% for message in messages %}
				            <li><h2 class="dark">{{ message }}<h2></li>
				        {% endfor %}
				        </ul>
				    {% endif %}
				{% endwith %}
			</div> -->
			<img src="{{ url_for('static', filename='4.png') }}"/>
		</div>
	</div>
	<div class="row">
		<div class="col-12" style="padding: 2%;">
			<h2 class="dark">Select a building to explore</h2>
		</div>
	</div>
	{% for building in buildings %}
		<a href = "{{url_for('showInfo', building_name = building.name)}}">
			<div class="row" style="margin: 1% 0 1% 0">
				<div class="col-12" style="background-color: #3C8BB6; padding: 5% 0 3%;">
					<h2>{{ building.name }}</h2>
				</div>
			</div>
		</a>
	{% endfor %}
{% include "footer.html" %}
{% endblock %}
</div> <!-- End Wrapper -->
</body>
</html>
