<!DOCTYPE html>
{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<h1>Buildings Around the World</h1>
{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<a href="{{url_for('newBuilding')}}">
    Add Building
</a>
 <h2>Select which continent's buildings you would like to explore!</h2>
<h4>Not all continents are listed, but when you add a building in that continent, it will.</h4>
{% for continent in continents %}
<a href = "{{url_for('showCountry', continent = continent.continent)}}" >
<h3>{{ continent.continent }}</h3>
</a>
{% endfor %}
{% endblock %}
