<!DOCTYPE html>
<!-- tutorial for flexy web design=https://www.youtube.com/watch?v=Rf_DjL_dbug&t=163s -->
<html>
<head>
{% include "main.html" %}
{% block content %}
</head>

<body>
<div class='wrapper'>
	{% include "header.html" %}
	<div class="row">
		<div class="col-12" style="padding: 2%;">
			<h2 class="dark">You are editing {{ building.name }}</h2>
		</div>
	</div>
	<div class="row" style="margin: 1% 0 1% 0">
		<div class="col-12" style="background-color: #3C8BB6;">
			<form action="#" method = "post">
				<label for="name">Building Name:</label>
				<input type ="text" maxlength="100" id="name" name="name" value="{{building.name }}">

				<label for="name">Contient:</label>
	            <input type ="text" maxlength="100" class="form-control" name="continent" value="{{building.continent }}">

				<label for="name">Country:</label>
				<input type ="text" maxlength="100" class="form-control" name="country" value="{{building.country }}">

				<label for="name">Style:</label>
	            <input type ="text" maxlength="100" class="form-control" name="style" value="{{building.style }}">

				<label for="name">Year Completed:</label>
				<input type ="text" maxlength="100" class="form-control" name="year_completed" value="{{building.year_completed }}">

				<label for="name">Height:</label>
	            <input type ="text" maxlength="100" class="form-control" name="height" value="{{building.height }}">

				<label for="name">Floors:</label>
	            <input type ="text" maxlength="100" class="form-control" name="floors" value="{{building.floors }}">

				<label for="Architect">Architect:</label>
	            <input type ="text" maxlength="100" class="form-control" name="architect" value="{{building.architect }}">

				<label for="description">Description:</label>
				<textarea class="form-control" maxlength="250" class="form-control" name="description">{{building.description}}</textarea>

				<button type="submit" class="button" id="submit" type="submit">
				<i class="fa fa-cloud"></i>  Save</button>
				<a href = '{{url_for('showInfo', building_name = building.name)}}'>
				<button class="button2" type="button">
				<span class="fa fa-ban" aria-hidden="true"></span>    Cancel</button>
				</a>
			</form>
		</div>
	</div>
{% include "footer.html" %}
{% endblock %}
</div> <!-- End Wrapper -->
</body>
</html>

	{#<!--

















					<label for="course">Course:</label>
					<div class="radio">
					  <label>
					    <input type="radio" name="course" id="course1" value="Appetizer" {% if item.course == 'Appetizer'%}checked{%endif%}>Appetizer
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="course" id="course2" value="Entree" {% if item.course == 'Entree' %}checked{%endif%}>Entree
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="course" id="course3" value="Dessert" {% if item.course == 'Dessert'%}checked{%endif%}>Dessert
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="course" id="course4" value="Beverage" {%if item.course =='Beverage'%}checked{%endif%}>Beverage
					  </label>
					</div>


				</div>
			</form>
		</div>
	</div>
-->#}
