<!DOCTYPE html>
<div class="row" id="container" style="background-color: #66D4FF;">
    <div class="col-12">
        <img src="{{ url_for('static', filename='lander.png') }}"/>
        <h2 class="centered">Follow-Us</h2>
    </div>
</div>
<div class="row" style="background-color: #66D4FF;">
    <div class="col-12">
        <ul class="social">
            <li><a href="#"><i class='fa fa-facebook'></i></a></li>
            <li><a href="#"><i class='fa fa-google-plus'></i></a></li>
            <li><a href="#"><i class='fa fa-twitter'></i></a></li>
            <li><a href="#"><i class='fa fa-youtube'></i></a></li>
            <li><a href="#"><i class='fa fa-instagram'></i></a></li>
        </ul>
    </div>
</div>
<div class="row" style="background-color: #86C5DA; border-top: 2px solid #F6931E;">
    <div class="col-12">
        <p>&copy Flexy.</p>
    </div>
</div>
