<!DOCTYPE html>
<div class="row" id="header">
	<div class="col-12">
		<img class="logo" src="{{ url_for('static', filename='7a.png') }}"/>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<nav role="navigation" id="nav">
			<input type="checkbox" class="trigger" id="mainNavButton">
			<label for="mainNavButton" onclick>Menu</label>
			<ul>
				<li><a href="{{url_for('showContinents')}}">Home</a></li>
				<li><a href="{{url_for('newBuilding')}}">New Building</a></li>
				<li><a href="{{url_for('showAllBuildings')}}">All Buildings</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Contact Us</a></li>
				<li>{% if 'username' not in session %}
					<a href="{{url_for('showLogin')}}">LogIn</a>
					{% else %}
					<a href="{{url_for('disconnect')}}">LogOut</a>
					{% endif %}
				</li>
			</ul>
		</nav>
	</div>
</div>
